__pycache__
.DS_Store
.venv
data/
exp/
sandbox.ipynb
speechmatics*.py
sweep/
default_old.yaml
*.wav
french/
data_out/
cv-corpus-22.0-delta-2025-06-20/
cv-corpus-22.0-2025-06-20
cv-corpus-22.0-de/
cv-corpus-22.0-de-small/
gen.ipynb
.env
speechmatics.sh
*.pt
audio_in/
out/